$color_hex_1: #282A35;
$color_hex_2: #EFEFFA;
$color_hex_3: #99ffff;
$color_hex_4: #2196F3;
$color_hex_5: #e0e0e0;
$color_hex_6: #6b7280;
$color_hex_7: #07074d;
$color_hex_8: #6E34F4;
$color_hex_9: #0e0e7c;

$primary_1: hsl(210, 36%, 96%);

$color_grey_1: rgba(0, 0, 0, .1);
$color_grey_2: rgba(0, 0, 0, .2);
